
.gallery {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    min-height: 50vh;
   /* background: #d7d7d7;*/
    max-height: 70vh;
    overflow-y: auto;
}

.uploadBtn {
    margin-top: 20px;
}

#mainImage {
    height: 100%;
    width: 100%;
    object-fit: contain
}

#statsDiv{
    display: none;
}

#infoTableInput {

    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
#infoTableDiv{
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#classifyButtons{
    margin-top: 2em;
}

#classifyBtn{

width: 100%;
    display: inline-block; !important;
background: #815ee4;
}

#licenseBtn{

    width: 100%;
    display: inline-block; !important;
    background: #815ee4;
}

